<form method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr align="left">
            <th>{{ field.label_tag }}</th>
            <th>{{ field }}</th>
            <th><font color="red">{% for error in field.errors %}{{ error }}{% endfor %}</font></th>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Reset Password" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<a href="{% url 'home' %}"><button>Cancel</button></a>